@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@import "./main.scss";

body {
  width: 100%;
  min-height: 100vh;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
}

h3 {
  font-size: $h3-font-size;
} 

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
  font-weight: $h6-font-weight;
}

button {
  font-size: $button-font-size;
  font-weight: $button-font-weight;
}

label, input {
  font-size: $label-font-size;
  font-weight: $label-font-weight;
}

ol,
ul {
  list-style: none;
}