/* Font size */
$h1-font-size: 6rem;
$h2-font-size: 3.75rem;
$h3-font-size: 3rem;
$h4-font-size: 2.125rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.25rem;
$subtitle1-font-size: 1rem;
$subtitle2-font-size: 0.875rem;
$label-font-size: 1rem;
$body-1-font-size: 1rem;
$body-2-font-size: 0.875rem;
$caption-font-size: 0.75rem;
$overline-font-size: 0.625rem;
$button-font-size: 0.938rem;

/* Font weight */
$h1-font-weight: 300;
$h2-font-weight: 300;
$h6-font-weight: 500;
$subtitle2-font-weight: 700;
$label-font-weight: 500;
$button-font-weight: 500;